.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.blackFill {
    fill: black;
}
.deleted {
    fill: red;
}
.deleted_weekly {
  fill: #ef6b64;
}
.sampled {
  fill: green;
}
.longevityLine {
  fill: none;
  stroke: steelblue;
  stroke-width: .1px;
}

